@import "animation";
@import "landingSection";
@import "variables";
@import "testSection";
@import "404page";

html, body{
  //overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  .front {
    z-index: 2;
  }
}

button {
  width: 100%;
  cursor: pointer;
}
button:active {
  -webkit-appearance: none;
}
.slider {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 24px;
  font-family: sans-serif;
  letter-spacing: 5px;
  border: none;
}
section {
  width: 100%;
  height: 100%;
  position: absolute;
}
section.focus {
  top: 0px;
  left: 0px;
  z-index: 2;
  box-shadow: 0 0 100px 5px #000;
}
section.last {
  z-index: 1;
}
//@import "circles";