$backgroundBlue: #024959;
$textBlue: #092140;
$secondaryCream: #F2C777;
$primaryDarkRed: #BF2A2A;
$primaryLightRed: #F24738;

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import "circles";